<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight details page</title>
</head>
<body>
        <h1>User details page</h1>
        <p th:text="'Id: ' + ${user.id}">Name: name</p>
        <p th:text="'Name: ' + ${user.name}">Name: name</p>
        <p th:text="'Email: ' + ${user.email}">Email: email</p>
        <p th:text="'Age: ' + ${user.age}">Age: age</p>
        <p th:text="'The user flightId is: ' + ${flightId}">flightId: none</p>

<ul><li>Other user flightIds are:</li>
    <li th:each="flightId : ${flightIds}" th:text="${flightId}"></li>
</ul>

        <h1>Change User details</h1>

        <form th:action="@{/flights}" th:object="${user}" method="post">
            <label>Id:</label>
            <input type="text" th:field="*{id}" /><br/><br/>

            <label>Name:</label>
            <input type="text" th:field="*{name}" /><br/><br/>

            <label>Email:</label>
            <input type="email" th:field="*{email}" /><br/><br/>

            <label>Age:</label>
            <input type="number" th:field="*{age}" /><br/><br/>

            <button type="submit">Submit</button>
        </form>


</body>
</html>